/* work sans font from google fonts */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&family=Open+Sans:wght@800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles */

*{
    font-family: 'Work Sans', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}
.btn-primary{
    padding: 20px 25px;
    border-radius: 8px;
    background-color: #FF900E;
    color:#FFFFFF ;
    font-size: 20px;
    font-weight: 600;
    border: none;
}
.nav-title{
    color:#131313;
    font-size: 2.8rem;
    font-weight: 700;
}
.banner-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    margin: 30px 0px;
}

/* header section styles */

header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px 45px 240px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul {
    display: flex;
}
nav li {
    list-style:none ;
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 40px;
    margin-right: 0px;
    padding-right: 0px;
}
nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner styles */

.banner{
    margin-top: 100px;
}

.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0px auto;
}
.banner-title{
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
    margin-top: 20px;
}
.banner-img{
    width: 100%;
    margin-top: 50px;
}

/* main styles */
main{
    max-width: 1440px;
    margin: 85px 240px;
}

/* features styles */

.feature-section{
    display: flex;
    align-items: center;
    margin: 0px 60px;
}
.section-feature-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:1.5rem ;
}
.section-feature-content{
    padding-left:70px ;
}
.feature-content-title{
    width: 465px;
    color: #727272;
    font-size: 2.8rem;
    font-weight: 500;
    margin-bottom: 25px;
}
#span1{
    color: #131313;
    font-weight: 700;
}
#span2{
    color: #FF900E;
    font-weight: 700;
}
.feature-content-description{
    width: 535px;
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 30px;
}

/* service styles */
.service-conteiner{
    margin-top: 130px;
    display: flex;
    gap: 145px;
    margin-bottom: 100px;
}
.service-content .card{
    margin: 20px 0px ;
    padding: 30px 40px 30px 30px ;
    border-radius: 8px;
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.badge{
    width: 342px;
    border-radius: 8px;
    background-color: #FF900E;
    padding: 50px 30px;
    text-align: center;
    position: relative;
    bottom: 75px;
    right: 90px;
}
.badge h2{
    color: #FFF;
    font-size:4.5rem;
    font-weight: 700;
}
.badge p{
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 500;
}
.service-title{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    border-left:5px solid #FF900E; 
    padding-left: 20px;
}
.service-description{
    margin-top: 24px;
    margin-bottom: 30px;
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}
.service-content .card-title{
    color: #131313;
    font-size: 1.1rem;
    font-weight: 600;
}

/* facts styles */

.facts-card-conteiner{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.facts-card-conteiner .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 45px 35px 60px 35px;
    margin-top: 100px;
}
.facts-card-conteiner .card-stats{
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
    margin-top:5px ;
}
.facts-card-conteiner .card-title{
    color: #727272;
    font-size: 1.1rem;
    font-weight: 600;
}

/* sponsors styles */

.Sponsors{
    text-align: center;
    margin-top: 180px;
}
.sponsors-conteiner{
    margin-top:50px ;
    display: flex;
    justify-content: space-between;
}

/* footer styles */

.footer{
    margin: 130px 240px 215px 240px ;
    padding: 40px 410px;
    border-radius: 8px;
    background-color: #FFF4E7;
    color: #424242;
    font-size: 1.2rem;
    font-weight: 400;
}

/* responsive styles */
/* mobile styles */

@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav, .feature-section, 
    .facts-card-conteiner, 
    .sponsors-conteiner,
    .service-conteiner{
        flex-direction: column;
    }
    nav li{
        margin: 10px;
    }
    main{
        margin: 20px;
    }
    .section-feature-img{
        grid-template-columns: 1fr;
    }
    .section-feature-content {
        padding:  10px;
    }
    .feature-content-title{
        width: 300px;
    }
    .feature-content-description {
        width: 300px;
    }
    .service-img img{
        width:350px ;
    }
    .badge{
        position: static;
        max-width:300px ;
    }
    .facts{
        margin-top: 40px;
    }
    .Sponsors {
        margin-top: 50px;
    }
    .sponsors-conteiner{
        margin-top: 50px;
        padding:0px 100px 30px 100px;
        gap: 20px;
    }
    footer{
        margin: 0px;
        padding: 0px;
    }
    .footer{
        text-align: center;
        border-radius: 5px;
        font-size: 8px;
        margin:0px 20px 20px ;
        padding:5px 40px;
    }
}
/* tab styles */

@media screen and (min-width:576px) and (max-width:992px) {
    header{
        padding: 20px;
    }
    nav, .feature-section, .sponsors-conteiner, 
    .service-conteiner {
        flex-direction: column;
    }
    nav li{
        margin: 10px;
    }
    main{
        margin: 20px;
    }
    .feature-section{
        margin: 40px;
    }
    .section-feature-img{
        gap: .5rem;
    }
    .section-feature-content {
        margin-top: 20px;
        padding-left: 0px;
    }
    .feature-content-title{
        width: auto;
    }
    .feature-content-description {
        width: auto;
    }
    .service-img img{
        width:100% ;
    }
    .badge{
        position: relative;
        bottom: 115px;
        left: 200px;
        max-width:400px ;
    }
    .facts{
        text-align: center;
        margin-top: 50px;
    }
    .facts-card-conteiner{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 30px;
        padding: 0px 40px;
    }
    .Sponsors {
        margin-top: 50px;
    }
    .sponsors-conteiner{
        margin-top: 50px;
        padding:0px 300px 35px 300px ;
        gap: 20px;
    }
    .footer{
        text-align: center;
        border-radius: 6px;
        font-size: .8rem;
        margin:0px 30px 30px ;
        padding:8px 40px;
    }
}





