/* work sans font from google fonts */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&family=Open+Sans:wght@800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles */

*{
    font-family: 'Work Sans', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}
.btn-primary{
    padding: 20px 25px;
    border-radius: 8px;
    background-color: #FF900E;
    color:#FFFFFF ;
    font-size: 20px;
    font-weight: 600;
    border: none;
}
.nav-title{
    color:#131313;
    font-size: 2.8rem;
    font-weight: 700;
}
.banner-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    margin: 30px 0px;
}

/* header section styles */

header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px 45px 240px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul {
    display: flex;
}
nav li {
    list-style:none ;
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 40px;
    margin-right: 0px;
    padding-right: 0px;
}
nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner styles */

.banner{
    margin-top: 100px;
}

.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0px auto;
}
.banner-title{
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
    margin-top: 20px;
}
.banner-img{
    width: 100%;
    margin-top: 50px;
}

/* main styles */
main{
    max-width: 1440px;
    margin: 85px 240px;
}

/* features styles */

.feature-section{
    display: flex;
    align-items: center;
    margin: 0px 60px;
}
.section-feature-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:1.5rem ;
}
.section-feature-content{
    padding-left:70px ;
}
.feature-content-title{
    width: 465px;
    color: #727272;
    font-size: 2.8rem;
    font-weight: 500;
    margin-bottom: 25px;
}
#span1{
    color: #131313;
    font-weight: 700;
}
#span2{
    color: #FF900E;
    font-weight: 700;
}
.feature-content-description{
    width: 535px;
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 30px;
}
/* facts styles */
.facts-card-conteiner{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.facts-card-conteiner .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 45px 35px 60px 35px;
    margin-top: 100px;
}
.facts-card-conteiner .card-stats{
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
    margin-top:5px ;
}
.facts-card-conteiner .card-title{
    color: #727272;
    font-size: 1.1rem;
    font-weight: 600;
}

/* responsive styles */
/* mobile styles */

@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav, .feature-section, .facts-card-conteiner{
        flex-direction: column;
    }
    nav li{
        margin: 10px;
    }
    main{
        margin: 20px;
    }
    .section-feature-img{
        grid-template-columns: 1fr;
    }
    .section-feature-content {
        padding:  10px;
    }
    .feature-content-title{
        width: 300px;
    }
    .feature-content-description {
        width: 300px;
    }
    
}
/* tab styles */

@media screen and (min-width:576px) and (max-width:992px) {
    header{
        padding: 20px;
    }
    nav, .feature-section, .facts-card-conteiner{
        flex-direction: column;
    }
    nav li{
        margin: 10px;
    }
    main{
        margin: 20px;
    }
    .feature-section{
        margin: 10px;
    }
    .section-feature-img{
        gap: .5rem;
    }
    .section-feature-content {
        margin-top: 20px;
        padding-left: 0px;
    }
    .feature-content-title{
        width: auto;
    }
    .feature-content-description {
        width: auto;
    }

    
}
